@font-face {
  font-family: "Space Mono";
  src: url(../../public/fonts/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: "Knewave";
  src: url(../../public/fonts/Knewave-Regular.ttf);
  font-weight: 700;
}

:root {
    --base-font-family: Space Mono, monospace;
    --hero-font-family: Knewave, Arial, sans-serif;
    --base-font-size: 18px;
    --base-font-weight: 400;
    --base-font-color: midnightblue;
    --base-line-height: 1.5;
    --spacing-unit: 10px;
    --background-color: #fefefe;
    --content-max-width: 80vw;
    --on-mobile: 700px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: var(--content-max-width);
}

.content-wrapper {
    flex: auto;
    margin: 50px auto;
    max-width: 800px;
    min-width: 200px;
    min-height: 400px;
    width: 60%;
}

/* Media Queries */
@media screen and (max-width: 700px) {
    .content-wrapper {
        margin: 6% auto 0 auto;
        max-width: 90vw;
        width: 90%;
    }
}